<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynamicUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DynamicUI.Properties.Settings>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Data Source=localhost;Integrated Security=SSPI;Initial Catalog=DynamicMenu</value>
            </setting>
        </DynamicUI.Properties.Settings>
    </applicationSettings>
</configuration>